<div class="container">

    <div class="sidebar">

        <div class="logo">

            <h1>GESTOR</h1>
            <h1>SOLICITUDES</h1>

        </div>

    </div>

    <div class="contenido">

        <div class="header">

            <h1>Historial de Solicitudes</h1>

            <p>
                Seguimiento de cambios realizados en las solicitudes
            </p>

        </div>

        <h2 class="titulo-seccion">

            HISTORIAL

        </h2>

        <div *ngIf="cargando">

            <h3>
                Cargando historial...
            </h3>

        </div>


        <div
        class="cards"
        *ngIf="!cargando && historial.length > 0">

            <div
            class="card"
            *ngFor="let item of historial">

                <h3>

                    {{item.accion}}

                </h3>

                <p>

                    <strong>Fecha:</strong>
                    {{item.fecha}}

                </p>

                <p>

                    <strong>Observación:</strong>
                    {{item.observacion}}

                </p>

            </div>

        </div>


        <div
        class="sin-datos"
        *ngIf="!cargando && historial.length===0">

            <h2>

                No hay historial disponible

            </h2>

            <p>

                Aún no existen movimientos registrados

            </p>

        </div>

    </div>

</div>